<h1>{{title}}</h1>

<p>{{content}}</p>
        <img src='/images/prekclass.jpg' style="width:600px;" />
<ul>
  <li>
    <a href="/other">The Other Page</a>
  </li>
  <li>
    <a href="/nolayout">A Page Without a Layout</a>
  </li>
</ul>

{{> partial}}
